


   
    <footer class="text-muted" th:fragment="footer">
      <div class="container">
      <p class="float-right">
          <a href="#">top</a>
        </p>
        <p>developpé par LSI2 &copy; OneSoft / E-Formations</p>
      </div>
      
    </footer>

   
