
<head th:fragment="head">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
 

    <title>E-Formation </title>

	
	
    <!-- Bootstrap core CSS -->
    <link  th:href="@{/css/bootstrap/bootstrap.min.css}" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link th:href="@{/css/album.css}" rel="stylesheet"/>
 
 	<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.6.3/css/all.css' integrity='sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/' crossorigin='anonymous'>
 
   <style type="text/css">
   		.card-body-me{
   		   box-shadow: 0 0.55rem 0.75rem rgba(0, 0, 0, 0.25);
   		   background: #f7f7f7;
   		}
   		.pages{
   		  box-shadow: 0 0.55rem 0.75rem rgba(0, 0, 0, 0.25);
   		  background: #f7f7f7;
   		}
   </style>
  </head>