<!DOCTYPE html>
<html lang="en" 
			  xmlns:th="http://www.thymeleaf.org" 
              xmlns:form="http://www.springframework.org/tags/form">
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>creation compte : Formateur </title>
 <link  th:href="@{/css/bootstrap/bootstrap.min.css}" rel="stylesheet"/>
<script th:src="@{/js/bootstrap/jquery.js}" ></script>
<script th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
<style type="text/css">
	.login-form {
	    
		width: 640px;
    	margin: 20px auto;
	}
    .login-form form {
    	margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .login-form h2 {
        margin: 0 0 15px;
    }
    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .btn {        
        font-size: 15px;
        font-weight: bold;
    }
</style>
</head>
<body>
<div class="login-form">
    <form th:action="@{/account/prof/action}" method="post" th:object="${Participant}">
        <h2 class="text-center">creation d'un compte Formateur .</h2>
        <div class="alert alert-danger" role="alert" th:if="${error}"> 
          <p th:text="${error}"> </p>
        </div>  
        <div class="form-group">
        	<label for="inputEmail3" class="col-sm-2 col-form-label">email</label>
            <input type="email" th:field="*{email}" class="form-control" placeholder="email" name="email" required="required">
        </div>
        <div class="form-group">
        	<label for="inputEmail3" class="col-sm-2 col-form-label">nom</label>
            <input type="text" th:field="*{nom}" class="form-control" placeholder="nom" name="nom" required="required">
        </div>
        <div class="form-group">
        	<label for="inputEmail3" class="col-sm-2 col-form-label">prenom</label>
            <input type="text" th:field="*{prenom}" class="form-control" placeholder="prenom" name="prenom" required="required">
        </div>
        <div class="form-group">
        	<label for="inputEmail3" class="col-sm-2 col-form-label">mot de passe </label>
            <input type="password" th:field="*{password}" class="form-control" placeholder="password" name="password" required="required">
        </div>
       <div class="form-group">
        	<label for="inputEmail3" class="col-sm-2 col-form-label">Specialite </label>
            <input type="text" th:field="*{specialite}" class="form-control" placeholder="specialite" name="specialite" required="required">
        </div>
         
        
        
        <hr/>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Ajouter</button> 
            <a th:href="@{/}" class="btn btn-primary btn-block">Accueil</a> 
        </div>
               
    </form>
   
</div>
</body>
</html>          








                		                            