<!DOCTYPE html>
<html lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
  layout:decorator="layouts/admin">
  
<body>
      <div id="page" layout:fragment="content" class="col-md-10 offset-md-2">
	       <main role="main">
		     <hr/>
	          <h3>Informations relatif a <strong th:text="${Participant.nom}"></strong> </h3>
	         <hr/>
	          <div class="row">
	          <div class="col-4 " >
	          <div class="card">
	          <div class="card-body">
           
           
            <div >
            <p>Formations enregistrés   <strong th:text="${nombretotal}"></strong> </p>
            <hr/>
             <table class="table table-striped">
	          <tr>
	            <th>#</th> <th>Titre</th> <th>Discipline</th> 
	          </tr>
	          <tr th:each="f : ${Formations}">
	              <td th:text="${f.id_formation }"></td>
	              <td th:text="${f.titre }"></td>
	              <td th:text="${f.discipline}"></td>
	            </tr>
              </table>
            
            </div>
	        </div>
	          </div>
	          </div>
	          <div class="col-6" >
	           <div class="card" >
                 <div class="card-body" th:object="${Participant}">
                 <label class="col-form-label"><strong>Nom</strong></label>
                 <p class="form-control" th:text="*{nom}">
                 </p>
                 <label class="col-form-label"><strong>Prenom</strong></label>
                 <p class="form-control" th:text="*{prenom}">
                 </p>
                 
                 <label class="col-form-label"><strong>Email</strong></label>
                 <p class="form-control" th:text="*{email}">
                 </p>
                 <label class="col-form-label"><strong>Date de creation de votre compte</strong></label>
                 <p class="form-control" th:text="*{date_creation}">
                 </p>
	            </div>
	          </div>
	          </div>
	          </div>
	        </main>
 </div>
</body>
</html>