<!DOCTYPE html>
<html lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
  layout:decorator="layouts/admin">

 

  <body>
		  <div id="page" layout:fragment="content" class="col-md-9 ml-sm-auto col-lg-10 px-4 offset-md-2">

	<main role="main" >
	      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
	        <h1 class="h2">Les Participants</h1>
	       
	      </div>
	      <div class="row">
	     
	      <div class="col-12 ">
	      <div>
	      
	      <div class="card-body">
	       <table class="table table-striped">
          <tr>
             <th>Email</th> <th>Nom</th> <th>Prenom</th>  <th>Action</th>
          </tr>
          <tr th:each="p : ${Participants}">
              <td th:text="${p.email }"></td>
              <td th:text="${p.nom }"></td>
              <td th:text="${p.prenom}"></td>
             
              <td>
                <a class="btn btn-info" th:href="@{/dashboard/admin/info/Participant(id=${p.id_user})}"><span data-feather="plus-circle"></span></a>
               <a class="btn btn-danger" th:href="@{/dashboard/admin/delete/Participant(id=${p.id_user})}"><span data-feather="trash-2"></span></a>
              </td>
          </tr>
          </table>
	      <div class="row">
		     <nav aria-label="...">
		      <ul class="pagination pagination-lg" >
				<li class="page-item" th:each="i : ${#numbers.sequence( 1,total ,1)}">
						<a class="page-link" th:href="@{/dashboard/admin/Participants(page=${i}-1)}" th:text="${i}"></a>
				</li>
						    
			  </ul>
			</nav>
		</div>
	   </div>
	   </div>
      </div>
     </div>
    </main>
    </div>
    </body>
    </html>